<div class="container">
  <mat-card>
    <p>Hi, I'm Rene,</p>
    <p>
      as a freelance software developer I am always in the situation that I come
      into a new project and my colleagues have to share various secrets, such
      as passwords, API keys, etc. with me. Note and pen or USB stick are too
      cumbersome and error-prone for me, so I would like to use end-to-end
      encryption. Most colleagues do not use PGP and do not want to set it up.
      So what about WhatsApp, Signal, Threema and co.? To be honest, I don't
      want to get too private with most colleagues, at least not on the first
      working day and without knowing the person. So I would like to use a
      simple anonymous end-to-end encryption option. Unfortunately, my Google
      skills were not enough to find such a service on the Internet.
    </p>
    <p>So I implemented it myself and here it is.</p>
    <p>
      Have fun and best regards,<br />
      Rene
    </p>
    <h3>Technology used</h3>
    <p>
      I am using the
      <a href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Crypto_API">
        Web Crypto API
      </a>
      that is supported by the most modern browsers.
    </p>
    <p>
      Messages are encrypted using a hybrid encryption approach. That means your
      message (your secret) is encrypted with a synchronous encryption
      algorithm. I used AES-GCM with a 256 bit key and a 12 byte init vector
      here. This key and the init vector are then encrypted with an asynchronous
      encryption algorithm, namely the public key of your conversation
      partner.<br />I used RSA-OAEP with a 4096 bit key and SHA-256 hash.
    </p>
    <p>
      View the code on
      <a href="https://gitlab.com/rkretzschmar/ng-ssx">Gitlab</a>.
    </p>
  </mat-card>
</div>
