<div class="container">
  <mat-card>
    <button mat-raised-button color="accent" (click)="onCreateNewKey()">
      Generate New
    </button>
    <br /><br />
    <div *ngIf="publicKey$ | async as publicKey; else generating">
      <p #key>{{ publicKey }}</p>
      <button
        mat-raised-button
        color="primary"
        ngxClipboard
        [cbContent]="encryptURL$ | async"
      >
        Copy public key to clipboard
      </button>
      <div *ngIf="publicKeyHash$ | async as publicKeyHash">
        <p id="fingerprint">Fingerprint (SHA-256): {{ publicKeyHash }}</p>
        <button
          mat-raised-button
          color="primary"
          ngxClipboard
          [cbContent]="encryptURL$ | async"
        >
          Copy fingerprint to clipboard
        </button>
      </div>
    </div>
    <ng-template #generating>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </ng-template>
  </mat-card>
</div>
