<div class="container">
  <mat-card>
    <mat-form-field>
      <textarea
        matInput
        placeholder="Encrypted Text"
        [(ngModel)]="encryptedText"
      ></textarea> </mat-form-field
    ><br /><br />
    <button mat-raised-button color="accent" (click)="onDecrypt()">
      Decrypt
    </button>
    <br /><br />
    <p>{{ decryptedText }}</p>
    <p>{{ error?.message }}</p>
  </mat-card>
</div>
