<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>{{ title }}</h1>
</div>
<!-- <mat-tab-group selectedIndex="2">
  <mat-tab label="Encrypt"><app-encrypt></app-encrypt></mat-tab>
  <mat-tab label="Decrypt"><app-decrypt></app-decrypt></mat-tab>
  <mat-tab label="Your Public Key"><app-public-key></app-public-key></mat-tab>
</mat-tab-group> -->
<nav mat-tab-nav-bar>
  <a
    mat-tab-link
    *ngFor="let link of navLinks"
    [routerLink]="link.link"
    routerLinkActive
    #rla="routerLinkActive"
    [active]="rla.isActive"
    >{{ link.label }}</a
  >
</nav>

<router-outlet></router-outlet>
