<div class="container">
  <mat-card>
    <mat-form-field>
      <textarea
        matInput
        placeholder="Public Key"
        [(ngModel)]="publicKey"
      ></textarea> </mat-form-field
    ><br /><br />
    <mat-form-field>
      <textarea
        matInput
        placeholder="Text"
        [(ngModel)]="text"
      ></textarea> </mat-form-field
    ><br /><br />
    <button mat-raised-button color="accent" (click)="onEncrypt()">
      Encrypt
    </button>
    <br /><br />
    <p>{{ encryptedText }}</p>
    <p>{{ error?.message }}</p>

    <div *ngIf="encryptedText">
      <button
        mat-raised-button
        color="primary"
        ngxClipboard
        [cbContent]="encryptedText"
      >
        Copy to clipboard
      </button>
    </div>
  </mat-card>
</div>
